* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}
:root {
  --color-primary: rgb(16, 15, 15);
  --color-hover: rgb(50, 41, 41);
  --color-secondary: rgb(187, 69, 69);
  --color-text: white;
  --color-text-2: rgb(248, 234, 234);
}
a {
  text-decoration: none;
  color: var(--color-text);
}
.header {
  background-color: var(--color-primary);
  position: sticky;
  top: 0;
  z-index: 1;
}
.header .header-con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 1vh;
  height: 3.98rem;
}
.header .header-con .left {
  margin-right: 12rem;
  padding: 1rem;
}
.header .header-con .left a h1 {
  font-size: 1rem;
}
.header .header-con .search {
  display: flex;
  margin-left: 4rem;
  text-align: center;
  padding: 1rem;
}

.header .header-con .search .search-bar .input input {
  border-radius: 30px;
  padding: 8px 4px;
  margin-right: 22rem;
  outline: none;
  border: none;
  width: 100%;
}

.header .header-con .search .mic {
  color: var(--color-text);
  margin-left: 1rem;
  text-align: center;
  cursor: pointer;
}
.header .header-con .search .mic .mic-btn {
  border-radius: 50%;
  border: none;
  padding: 8px;
  background-color: transparent;
  cursor: pointer;
}
.header .header-con .search .mic:hover {
  border-radius: 50%;
  background-color: var(--color-hover);
}

.header .header-con .right {
  display: flex;
  margin-left: 15rem;
  padding: 1rem;
}
.header .header-con .right .notification {
  color: var(--color-text);
  margin-left: 4rem;
  padding-top: 5px;
  text-align: center;
  font-size: small;
  border-radius: 50%;
}
.header .header-con .right .notification .bell-icon {
  border-radius: 50%;
  border: none;
  padding: 6px;
  background-color: transparent;
  cursor: pointer;
}
.header .header-con .right .notification .bell-icon:hover {
  border-radius: 50%;
  background-color: var(--color-hover);
}

.header .header-con .right .profile {
  color: var(--color-text);
  padding-top: 5px;
  margin-left: 1.8rem;
  text-align: center;
  font-size: larger;
  border-radius: 50%;
}
.header .header-con .right .profile .pro-icon {
  border-radius: 50%;
  border: none;
  padding: 4px;
  background-color: transparent;
  cursor: pointer;
}
.header .header-con .right .profile .pro-icon:hover {
  border-radius: 50%;
  background-color: var(--color-hover);
}

.navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 1vh;
  height: 35rem;
  position: relative;
}
.navigation .nav-bar {
  position: sticky;
  top: 0;
  margin-right: 25rem;
  background-color: var(--color-primary);
  color: var(--color-text);
  font-size: 1rem;
  padding: 1rem;
  padding-right: 16px;
}
.navigation .nav-bar li {
  padding: 0.5rem;
}
.navigation .nav-bar li:hover {
  background-color: var(--color-hover);
  border-radius: 30px;
}
.navigation .nav-bar .btn {
  background-color: transparent;
  color: var(--color-text);
  font-size: 1rem;
  text-align: center;
  padding-left: 1rem;
  cursor: pointer;
  border: none;
}
.navigation .nav-bar .btn:hover {
  background-color: var(--color-hover);
}
.navigation .nav-bar hr {
  border: 0.01px solid var(--color-text-2);
}

.navigation .main-sec {
  margin-left: -25rem;
  background-color: var(--color-primary);
}

.navigation .main-sec .row1,
.row2,
.row4,
.row5 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}

.navigation .main-sec hr {
  margin-top: 1rem;
  border: 0.01px solid var(--color-text-2);
}

.navigation .main-sec .col1,
.col2,
.col3,
.col4 {
  padding-right: 1rem;
}
.navigation .main-sec img {
  width: 14rem;
  height: 9rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.navigation .main-sec img:hover {
  width: 16rem;
  height: 10rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.25);
}
.navigation .main-sec p,
i,
p2 {
  color: var(--color-text);
}
.navigation .main-sec p,
p2 {
  padding-left: 1.5rem;
  margin-top: -1rem;
  font-family: inherit;
}
.navigation .main-sec p2 {
  color: var(--color-text-2);
  font-size: small;
}

.navigation .main-sec .row3 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.navigation .main-sec .row3 img {
  width: 8rem;
  height: 12rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.navigation .main-sec .row3 img:hover {
  width: 10rem;
  height: 14rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.25);
}
.navigation .main-sec .row3 p2 {
  padding-left: 0rem;
  margin-top: -1rem;
  font-family: inherit;
}

.navigation .main-sec .row6 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding-top: 1rem;
  padding-left: 1rem;
}
.navigation .main-sec .row6 img {
  width: 8rem;
  height: 12rem;
  border-radius: 5%;
  transition: all 0.4s ease-in-out;
  filter: brightness(1);
}
.navigation .main-sec .row6 img:hover {
  width: 10rem;
  height: 14rem;
  border-radius: 5%;
  cursor: pointer;
  z-index: -1;
  filter: brightness(1.25);
}
.navigation .main-sec .row6 p2 {
  padding-left: 0rem;
  margin-top: -1rem;
  font-family: inherit;
}
.navigation .main-sec .shorts {
  padding-top: 2rem;
}
.sec-end {
}
.sec-end .end {
  background-color: var(--color-primary);
  align-items: center;
  padding-left: 38rem;
  padding-top: 65rem;
}
.sec-end .end .icon {
  padding-left: 2.8rem;
  font-size: 2rem;
  align-items: center;
}
.sec-end .end .icon .rep-btn {
  font-size: 2rem;
  background-color: var(--color-primary);
  cursor: pointer;
  border-radius: 50%;
}
.sec-end .end .icon .rep-btn:hover {
  font-size: 2rem;
  background-color: var(--color-hover);
}
.sec-end .end .text {
  color: var(--color-text);
  align-items: center;
  padding-bottom: 2rem;
}
